Results/hif/IGV_screenshots/
Results/hif/IGV_screenshots_LI/
Results/hif/motif_match/background_match/
Results/hif/motif_match/hif_match/open_chromatin_hif1a.bed
Results/hif/motif_match/hif_match/open_chromatin_mpbs.bed
Results/hif/motif_match/hif_match/promoter_hif1a.bed
Results/hif/motif_match/hif_match/promoter_hif1a_noname.bed
Results/hif/motif_match/hif_match/promoter_mpbs.bed
Results/hif/motif_match/hif_match_atac/atac_allmotifs.bb
Results/hif/motif_match/hif_match_atac/atac_hif1a.bed
Results/hif/motif_match/hif_match_atac/atac_hif1a_cut.bed
Results/hif/motif_match/hif_match_atac/atac_hif1a_genes.bed
Results/hif/motif_match/hif_match_atac/atac_hif1a_genes_motifseq.bed
Results/hif/motif_match/input/all_mm9_open_chromatin.bed
Results/hif/motif_match/input/all_mm9_promoters.bed
Results/hif/motif_match/input/genes+promoters.bed
Results/hif/motif_match/input/genes.bed
Results/hif/motif_match/input/open_chromatin.bed
Results/hif/motif_match/input/promoters.bed
Results/hif/open_chromatin/
Results/hif/target_gene_regions.bed
Results/large_intestine/atac/ATAC.bam
Results/large_intestine/atac/ATAC.bam.bai
Results/large_intestine/atac/ATAC.bw
Results/large_intestine/atac/GSM1545956_MA_i4_ATAC_LI1.bigWig
Results/large_intestine/atac/GSM1545957_MA_i5_ATAC_LI2.bigWig
Results/large_intestine/atac/LI_ATAC_peaks.bed
Results/large_intestine/atac/LI_ATAC_peaks.encodePeak
Results/large_intestine/atac/LI_ATAC_peaks_format.bed
Results/large_intestine/atac/LI_ATAC_peaks_format_cut.bed
Results/large_intestine/atac/LI_ATAC_summits.bed
Results/large_intestine/atac/SRR1653776.bam
Results/large_intestine/atac/SRR1653776.bam.bai
Results/large_intestine/atac/SRR1653777.bam
Results/large_intestine/atac/SRR1653777.bam.bai
Results/large_intestine/footprints/results/
